.header {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    background-color: bisque;
}

.inhead {
    width: 960px;
}

.site_name {
    width: 93%;
    text-align: center;
}

.avatar {
    float: left;
    width: 100px;
    border-radius: 16px;
    box-shadow: -5px -5px 14px aqua;
}

.container {
    max-width: 960px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.floor {
    background-color: bisque;
    padding: 50px;
}

.footer #developer_kvn {
    margin-left: 20px;
}
